<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agregar libro</title>
</head>
<body>
    <header>

    </header>
    <section>
        <form action="/formulario" method="post">

            <input type="text" name="titulo">
            <input type="text" name="imagen">
            <input type="text" name="descripcion">

            <input type="submit" value="Enviar datos">
            
        </form>
    </section>
</body>
</html>