<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h5>INICIO</h5>
      <a href="/formulario">
        <h4>Agregar libro</h4>
      </a>
    </header>
    <section>
      
      <% for(let i = 0;i<datos_parseados.length;i++){  %>
        <div>
          <h1><%=datos_parseados[i].titulo %> </h1>
          <img src="<%=datos_parseados[i].imagen%>" alt="">
          <h6><%=datos_parseados[i].descripcion %> </h6>
        </div>
      <% } %>  

    </section>
  </body>
</html>
