*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    background: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

section{
    background: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form{
    border: 3px solid;
    background: #202020;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 70%;
}

input{
    font-size: 20px;
    margin: 1rem;
    padding: .4rem;
    border-radius: 10px;
    width: 90%;
}

label{
    color: white;
    font-size: 30px;
}

#enviar{
    padding: .6rem;
    transition: .4s;
    width: 45%;

}
#enviar:hover{
    background: green;
    color: white;
}